*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-bg: #f8f9fa;
    --card-title-bg: #f7f7f7;
    --btn-banner-bg: #165bba;
    --navbar-bell-color: #ff8f00;
    --card-icon-color: #6c757d;
    --navbar-icon-color: #5b5858;
    --sidebar-bg: #051e34;
}
body{
    background-color: #f8f9fa;
}
.debug [class^="col-"]{
    padding: 1rem;
}
header{
    background-color: #f8f9fa;
    height: 70px;
}
.logo{
    background-color: white;
    display: none;
}
.mobile{
    display: block;
}
.lens{
    width: 75%;
}
.info{
    fill: #5b5858;
    font-size: 24px;

}
.bell{
    fill: #ff8f00;
    font-size: 24px;
}
/* misura mobile first */
main{
    
}
.side-bar{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    width: 50px;
    height: calc(100vh - 70px);
    position: sticky;
    top: 70px;
    left: 0;
}
.house:hover{
    background-color: #6c757dc0;
}
.icon{
    display: block;
    fill: #ffffff;
    font-size: 30px;
    width: 48px;
}
.home{
    display: none;
    font-size: 24px;
    width: 80px;
    padding-left: 1rem;
}
.site-main{
    width: calc(100vw - 50px);
}
h1{
    font-size: 3rem;
    font-weight: 400;
}
.square{
    fill: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 50px;
    height: 50px;
    font-size: 40px;
    border: 1px solid white;
}
/* -lg- (>= 992) */
@media screen and (min-width: 991px) {
    .side-bar{
        width: 200px; /* misura desktop in su */
    }
    .lens{
        width: 100%;
    }
    .home{
        display: block;
    }
    .site-main{
        width: calc(100% - 200px);
    }
    .logo{
        background-color: white;
        display: block;
    }
    .mobile{
        display: none;
    }
}