*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-bg: #f8f9fa;
    --card-title-bg: #f7f7f7;
    --banner-bg: #1b72e8;
    --btn-banner-bg: #165bba;
    --navbar-bell-color: #ff8f00;
    --done-bg: #198754;
    --process-bg: #ffc107;
    --failed-bg: #dc3545;
    --card-icon-color: #6c757d;
    --navbar-icon-color: #5b5858;
    --sidebar-bg: #051e34;
}
body{
    background-color: #f8f9fa;
}
.debug [class^="col-"]{
    padding: 1rem;
}
header{
    background-color: #f8f9fa;
    height: 70px;
}
.logo{
    background-color: white;
}
/* misura mobile first */
.side-bar{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    width: 50px;
    height: calc(100vh - 70px);
    position: sticky;
    top: 70px;
    left: 0;
}
.site-main{
    width: calc(100vw - 50px);
}
.banner{
    width: 100%;
    height: 400px;
    background-color: #1b72e8;
}

/* -lg- (>= 992) */
@media screen and (min-width: 991px) {
    .side-bar{
        width: 200px; /* misura desktop in su */
    } 

    .site-main{
        width: calc(100% - 200px);
    }
}