*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-bg: #f8f9fa;
    --card-title-bg: #f7f7f7;
    --banner-bg: #1b72e8;
    --btn-banner-bg: #165bba;
    --navbar-bell-color: #ff8f00;
    --done-bg: #198754;
    --process-bg: #ffc107;
    --failed-bg: #dc3545;
    --card-icon-color: #6c757d;
    --navbar-icon-color: #5b5858;
    --sidebar-bg: #051e34;
}
body{
    background-color: #f8f9fa;
}
.debug [class^="col-"]{
    padding: 1rem;
}
header{
    background-color: #f8f9fa;
}
.logo{
    background-color: white;
}



.side-bar{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    height: 100vh;
    width: 200px;
}
.site-main{
    width: calc(100% - 200px);
}
.banner{
    width: 100%;
    height: 400px;
    background-color: #1b72e8;
}